.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store
*.csv
*.xlsx
*.rds
*.RDS
2022/
raw_data/
data/
contexts/
plots/
ctxs/
ctxs2/
ctxs3/
ctx4/
ctxs4/
pkgs/
archive/
.outpack/
montagu/
hipercow/
outputs/
draft/
src/process_inputs/vimc_inputs/
src/process_inputs/site_files/
src/set_parameters/vimc_inputs/
src/set_parameters/site_files/


# ---VVV--- added by orderly ---VVV----------------
# Don't manually edit content between these markers
.outpack
orderly_envir.yml
draft
archive
# ---^^^--- added by orderly ---^^^----------------
